.h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.5vw;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 12vh;
}
@media screen and (max-width: 960px) {
  .h1 {
    /* font-size: 1.5rem; */
    font-size: 6.5vw;
    margin-top: 7rem;
  }
}
