.header {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  padding-left: 1.5vw;
  /* margin-left: 120px  ; */
  width: 100%;
}
.size {
  width: 33.3%;
}

.baymax {
  margin-left: 3vw;
  padding-right: 5vw;
}
.baymax-home {
  width: 24.5vw;
  /* width: 445px; */
}
.text-header h4 {
  color: #ffffff;
  font-weight: 400;
  font-size: 2vw;
  padding-top: 6em;
}
.right-text {
  padding-left: -1.3;
}
.left-text {
  padding-left: 7vw;
}
.typing {
  color: #1db954;
}
.mbs-btn {
  display: none;
}

@media screen and (max-width: 660px) {
  .mbs-btn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 1225%);
    display: block;
  }
  .header {
    flex-direction: column-reverse;
    margin-top: 35px;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .size {
    width: 100%;
  }
  .text-header h4 {
    font-size: 1.4rem;
    padding-top: 0;
    padding-left: 0;
  }
  .left-text {
    text-align: center;
    /* margin-left: 10vw; */
    margin-top: 290px;
    padding-left: 0;
    text-align: center;
  }
  .right-text {
    display: none;
    padding-left: 0;
  }
  .baymax-home {
    width: 169px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -2%);
  }
  .baymax {
    margin-left: 0;
    padding-right: 0;
    /* box-shadow: 0 0 140px 90px #ffffff; */
  }
}
